<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template meetup</title>
</head>

<body>
    <p>Yo Meetup </p>

    <form action=""  method="POST">
        <label for="message">Name :</label>
        <input type="text" class="form-control" name="message" id="message" placeholder="Say hi !">
        <input type="submit" id="submit-message" value="send" class="btn btn-primary">
    </form>

    <ul>
        {{#events}}
        <li>{{.}}</li>
        {{/events}}
    </ul>

</body>

</html>